.dashboard-container {
    background: url("https://scitechdaily.com/images/Fast-Battery-Charging-Technology-Concept.gif");
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 85vh;
}

.btn-container {
    display: flex;
    gap: 25px;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

input, .btn-container, .history-container {
    margin: 10px;
}

.history-container, .location-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.search-container, .location-container {
    /* background-color: rgba(255, 255, 255, 0.05); */
    margin: 100px;
    width: 300px;
    height: auto;
}

.location-1, .location-2, .location-3 {
    /* background-color: #ffffff; */
    /* height: 50px; */
    display: inline;
}