.home-container {
background: linear-gradient(to bottom, black, silver);
color: antiquewhite;
}

.about-plugspot, .about-here-api {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-article {
    width: 500px;
}

.ev-charger-figure-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
}

.ev-charger-figure-1 img {
    height: 375px;
    border-radius: 20px;
}

.here-api-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
    width: 450px;
}

.here-api-figure img {
    border-radius: 20px;    
    height: 250px;
}

@media screen and (max-width: 768px) {
    .about-plugspot, .about-here-api {
        flex-direction: column;
    }
}

