/* body {
    background: linear-gradient(to top,  #000000, #71706e);
} */

html, body {
    min-width: 578px;
    }

.landing-container {
    background: linear-gradient(to bottom, #71706e, #000000);
    /* border: 5px double green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio-container {
    /* border: 5px double white; */
    background-color: rgba(0, 0, 0, 0.1);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: sans-serif;
    line-height: 2;
    padding: 20px;
    width: 35rem;
    /* height: auto; */
}

.contact-container {
    /* border: 5px double black; */
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 25px;
    width: 35rem;
    /* height: auto; */
}

button {
    margin-top: 0px;
    width: 60px;
}