nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left,  #39FF14, #00FF00);
    /* font-family: Arial, Helvetica, sans-serif; */
}

a {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

.brand a{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    list-style: none;
    padding: 1rem;
    display: block;
}

@media screen and (max-width: 768px) {
    nav, .navbar-links ul {
        flex-direction: column;
    }
}