.signin-container {
    background: url("https://images.unsplash.com/photo-1623079399942-368de709ea32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: antiquewhite;
}

.signin-form-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 25px;
    width: 35rem;
}

.guest-portal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}